body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slideshow-container {
    width: 1000%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    overflow: hidden;
    background: #fff;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
}
